body {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    color: goldenrod;
/*    font-family: "Eagle Lake", serif; */
    justify-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2%;

    div {
        padding: 3%;
        background-color: lightsteelblue;
        border-radius: 15px;
        text-align: center;
        font-size: 90%;

        img {
            justify-self: center;
            padding: 1%;
            border-radius: 15px;
            outline: black solid 2px;
        }
    }
}

.expanded {
    scale: 1.2;
    border: black solid 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: peachpuff;
    border-radius: 15px;

    img, p {
        visibility: visible;
    }
}

.regular {
    img, p {
        height: 1px;
        visibility: hidden;

    }
}

button {
    height: 50px;
    width: 50px;
    color: goldenrod;
    font-family: "Eagle Lake", serif;
}
